<!doctype html>
<html>
  <head>
    <title>Quantum Program Test Case Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center my-4">Try to Generate a Quantum Circuit Test Case!</h1>
      <form method="post" class="text-center">
        <label for="number" class="me-2">Qubits: </label>
        <select name="number" class="form-select" style="width: 200px; display: inline;">
          {% for number in range(2, 8) %}
            <option value="{{ number }}">{{number}}</option>
          {% endfor %}
        </select>
        <label for="number" class="me-2">Generator: </label>
        <select name="method" class="form-select" style="width: 200px; display: inline;">
          <option value="UCNOT" {% if selected_method == 'UCNOT' %}selected{% endif %}>UCNOT</option>
          <option value="IQFT" {% if selected_method == 'IQFT' %}selected{% endif %}>IQFT</option>
          <option value="Random" {% if selected_method == 'Random' %}selected{% endif %}>Random</option>
        </select>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
